---
import Band from '../components/Band.astro';
import Excerpt from '../components/Excerpt.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ProductImage from '../components/ProductImage.astro';
import LazyArticles from '../components/LazyArticles.jsx';
import { title } from 'node:process';
const pageTitle = "Lukas Deemer";
const images = [
	{src: "/img/picture_placeholder.png", alt: "Purple mountains"},
	{src: "https://placecats.com/1500/1024", alt: "A cat staring at the viewer menacingly"},
	{src: "https://placehold.co/1440x1024", alt: "A placeholder with dimensions 1440 x 1024"}
];
const excerptTitles = [
	"Lorem Ipsum",
	"Etiam Accumsan",
	"Donec Gravida",
	"Suspendisse Consectetur"
]
---
<BaseLayout pageTitle={pageTitle}>
	<section aria-labelledby = "primary-heading">
		<h1 class = "centered" id = "primary-heading">{pageTitle}</h1>
		<div class = "full__three_column gap__3_rem">
			{
				images.map(img => (
					<ProductImage src = {img.src} alt = {img.alt} />
				))
			}
		</div>
	</section>
	<Band bandTitle = "Film & Acting">
		Filmmaking is a great passion of mine. For the past few years, I have worked on
		multiple short films as a director, writer, cinematographer, editor, and actor.
		While my true passion is acting, filmmaking has been a great creative outlet,
		allowing me to get my ideas across in a way that acting alone cannot.
	</Band>
	<section aria-labelledby = "news-heading">
		<h2 id = "news-heading" class = "centered">News Ipsum</h2>
		<div class = "full__four_column container text__column">
			{
				excerptTitles.map(title => (
					<Excerpt excerptTitle = {title}>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel iaculis lacus, et fringilla ex. Quisque sed sapien metus. Suspendisse congue hendrerit dapibus. Mauris ut consectetur quam, vel auctor elit. Nulla gravida urna lacinia est dapibus faucibus. Vivamus nulla felis, consequat eget dolor id, bibendum interdum lacus. Sed sit amet ipsum et nibh porta imperdiet sit amet et nisi. Nam maximus libero vel sodales blandit. Quisque vitae sagittis elit. Fusce at scelerisque magna. Suspendisse bibendum nulla non scelerisque interdum. Nullam vel lacus congue, tristique velit pretium, auctor mauris. Fusce in sem sit amet eros feugiat bibendum a nec urna. Morbi.
					</Excerpt>
				))
			}

		</div>
	</section>
</BaseLayout>
